body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(45deg, #8E2DE2, #4A00E0); /* Attractive gradient background */
}

header {
    background-color: #263238;
    color: white;
    padding: 20px;
    text-align: center;
}

#companyLogo {
    width: 200px;
    height: auto;
}

.auth-background {
    background: url('https://source.unsplash.com/1600x900/?abstract');
    background-size: cover;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dashboard {
    padding: 20px;
    background-color: #f2f2f2;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: #333;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* General Styles */
button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

button:hover {
    background-color: #0056b3;
}

textarea {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
